Raw[[:space:]]Data/sales.csv filter=lfs diff=lfs merge=lfs -text
Excel/Apple[[:space:]]Retail[[:space:]]Sale[[:space:]]Report.xlsx filter=lfs diff=lfs merge=lfs -text
Excel/Cleaned[[:space:]]sales.csv filter=lfs diff=lfs merge=lfs -text
